html {}
body { }

a img { border: none; }

.red { color: #cc0000; }
.alfa { float: left; }
.omega { float: right; }


/*.hidden { display: none; }*/

label.error { border: 2px solid #cc0000; font-weight: bold; padding: 5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.template-page { font-size: 110%; }
#template-collection .template { padding: 10px 0; margin: 10px 0; border-bottom: 1px solid #E9E9E9; }
    #template-collection .template .template-description { margin-left: 12px; }

#template-form fieldset { border: none; border-bottom: 1px solid #E9E9E9; padding: 10px 0; margin: 10px 0;  }
    #template-form fieldset legend { font-weight: bold; font-size: 1.4em; }
    #template-form fieldset label { display: block; margin-bottom: 5px; }
    #template-form fieldset .description { font-size: 95%; font-style: italic; display: block; color: #606060; }
    #template-form fieldset .image-size { font-size: 95%; font-style: italic; color: #606060; }
    #template-form fieldset select { width: 100%; padding: 5px 0; max-width: 600px;  }
    #template-form fieldset input, #template-form fieldset textarea { margin-bottom: 10px; width: 100%; padding: 5px 0; }
    #template-form fieldset textarea { height: 80px; }
        #template-form fieldset input[type="file"] { width: auto; padding: 0; }
    #template-form fieldset .form-choice-container { margin-top: 10px; }
    